/* Define chapter looks (color) */
h1 {
    color: #2F56E9;
}
h2 {
    color: #2D64F5;
	font-family: serif;
}
h3 {
    color: #2F8DFF;
}
h4 {
    color: #33ABF9;
}
h5 {
    color: #34CCFF;
}
h6 {
    color: #52DBFF;
}