.innpakning {
    width: 800px; /* innpakningens bredde */
    background-color: #404040; /* en mørk gråfarge */
    margin: auto; /* like stor høyre- og venstremarg */
    display: flex; /* angir at vi vil bruke flexbox */
    flex-direction: column; /* plasserer bokser i en kolonne */
}
.topptekst {
    height: 234px; /* overskrift-/toppteksthøyde */
    background-color: #909090; /* en lys gråfarge */
    /* padding: 5px; /* avstand mellom bokskant og innhold */
    margin: 5px;  /* luft rundt overskrift-/topptekstboks */
}
.meny {
    background-color: #0066FF; /* blå farge */
    text-align: "center";
    padding: 5px; /* avstand mellom bokskant og innhold */
    margin: 5px; /* luft rundt menyboks */
}
.innhold {
    background-color: #909090; /* en lys gråfarge */
    padding: 5px; /* avstand mellom bokskant og innhold */
    margin: 5px; /* luft rundt innholdsboks */
}

.boks {
    background-color: #FF9900; /* en oransje farge */
    font-family: verdana;
    font-color: "green";
    font-size: "20px";
/*    width: 10%; */
    height: 40px;
    padding: 5px; /* avstand mellom bokskant og innhold */
    margin: 5px auto; /* luft rundt innholdsboks */
}


body {
    background-color: #e0e0e0;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 24px;
	color: #323232;
}

h1 {
    color: #2E0927; /* Define chapter looks (color) GVD */
}

h2 {
    color: #781D5F;
	font-family: serif;
}

h3 {
    color: #D90000;
}

h4 {
    color: #FF2D00;
}

h5 {
    color: #FF8C00;
}

h6 {
    color: #04756F;
}

input[type="text"] {
	display: block;
	width: 220px;
	padding: 5px;
	color: #666666;
	border: none;
	border-radius: 4px;
	margin-bottom: 10px;
}

input[type="submit"] {
	display: block;
	padding: 8px 15px;
	font-weight: bold;
	color: #444444;
	border: none;
	background-color: #888888;
}
